<div class="container">
  <h2 class="text-center m-3 sand-underline">Mes infos</h2>
  <div class="infos_profil d-flex justify-content-between">
    <div class='bonus-infos'>
      <p>Prénom</p>
      <h5><%= @user.first_name%></h5>
      <p>Nom de famille</p>
      <h5><%= @user.last_name%></h5>
      <p>Email</p>
      <h5><%= @user.email%></h5>
      <p>Adresse</p>
      <h5><%= @user.address%></h5>
      <p>Date de naissance</p>
      <h5><%= @user.birthday.day %> / <%= @user.birthday.month %> / <%= @user.birthday.year %>
    </div>
    <div>
      <%= link_to edit_user_registration_path, class: 'text-decoration-none' do %>
      <i class="fa-regular fa-pen-to-square"></i>
      <% end %>
    </div>
  </div>

  <h2 class="text-center m-3 sand-underline">Mes sports</h2>
  <div class="sports_profil">
    <div class="edit-sport">
      <%= link_to edit_profile_path, class: 'text-decoration-none' do %>
        <i class="fa-regular fa-pen-to-square"></i>
      <% end %>
    </div>
    <div class="run-profil">
      <div class="bonus-infos">
        <h5>Course</h5>
        <% if @user.runner == true%>
          <div class="text-center my-4">
            <%= "Vous êtes un runnner"%> <%= @user.run_level%><br>
          </div>
        <% else %>
          <%= link_to "Devenez Runner", edit_profile_path,  class: 'btn btn-50wide' %>
        <%end%>
      </div>
    </div>
    <div class="surf-profil">
      <div class="bonus-infos">
        <h5>Surf</h5>
        <% if @user.surfer == true%>
          <div class="text-center my-4">
            <%= "Vous êtes un surfeur"%> <%= @user.surf_level%><br>
          </div>
        <% else %>
          <%= link_to "Devenez Surfeur", edit_profile_path,  class: 'btn btn-50wide' %>
        <%end%>
      </div>
    </div>
  </div>
</div>
