<div class="container">
  <%= link_to "<", :back, class:"back-link" %>
  <h2 class="text-center mt-1 mb-3 sand-underline">Modifier mon profil</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: {turbo: false}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="row">
        <div class="col-6">
          <%= f.input :first_name, label: "Prénom", autofocus: true %>
        </div>
        <div class="col-6">
          <%= f.input :last_name, label: "Nom", autofocus: true %>
        </div>
      </div>
      <%= f.input :address, label: "Addresse", autofocus: true %>
      <%= f.input :birthday, label: "Date de naissance", autofocus: true %>
      <%= f.input :email, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
        </div>
      <%= f.input :password,
                  hint: "Laissez vide si vous ne voulez pas le modifier",
                  label: "Nouveau mot de passe",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  label: "Confirmez votre nouveau mot de passe",
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "Nous avons besoin de votre mot de passe actuel pour confirmer vos changements",
                  label: "Mot de passe actuel",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Mettre à jour mon profil", class: "btn btn-50wide"%>
    </div>
  <% end %>

  <div class="d-flex justify-content-center align-items-center">
     <%= button_to "Supprimer mon compte", registration_path(resource_name),
        data: { confirm: "Êtes-vous sûr ?" }, method: :delete,
        class: "btn btn-link" %>
  </div>
</div>
