<div class="container text-center">
  <h2 class="m-4">Créer ton compte</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false, controller:"preview-input"}) do |f| %>
    <%= f.error_notification %>

    <%= image_tag("icone-photo.jpg", :width=>73, :height=>70, class:"avatar_edit", data:{"preview-input-target": :image, action: "click->preview-input#openFile"})%>

    <div class="form-inputs">
      <%= f.input :avatar, as: :file,
                  required: true,
                  autofocus: true,
                  input_html: {data: {"preview-input-target": :input, action: "change->preview-input#changeImage"},class:"d-none"},
                  label: "Photo de profil" %>
     <div class="name d-flex justify-content-between">
        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    label: false,
                    placeholder: "Prénom",
                    input_html: { autocomplete: "first-name" }%>
        <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    label: false,
                    placeholder: "Nom",
                    input_html: { autocomplete: "last-name" }%>
      </div>
      <%= f.input :birthday,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "birthday",
                  input_html: { autocomplete: "birthday" }%>
      <%= f.input :address,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "Adresse",
                  input_html: { autocomplete: "address" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "Email",
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  label: false,
                  placeholder: "Mot de passe",
                  hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  label: false,
                  placeholder: "Confirmes ton mot de passe",
                  input_html: { autocomplete: "new-password" } %>

    </div>

    <div class="form-actions btn btn-light m-3">
      <%= f.button :submit, "Continuer" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
