<div id="meteo-title">
  <h2>Meteo</h2>
</div>
<div class="card-meteo">
  <div class="info-adresse">
    <i class="fa-solid fa-circle-half-stroke"></i>
    <% if @event.event_type == "running" %>
      <%= @event.run_detail.location %>
    <% else %>
      <%= @event.spot.location %>
    <% end %>
  </div>
  <% if (((@event.date - Time.now) / (60 * 60 * 24)).round < 15) && (@event.date - Time.now.beginning_of_day).positive? && !@event.latitude.nil? %>
    <div class="info-meteo">
      <div class="info-temps">
        <%= image_tag @weathericonurl %>
        <%= @lang_fr %>
      </div>
      <div class="info-temperature">
        <i class="fa-solid fa-temperature-half"></i>
        <%= @temp_c %>°C
      </div>
      <div class="info-vent">
        <i class="fa-solid fa-location-arrow" style="rotate: <%= @winddirdegree.to_i + 315 %>deg"></i>
        <%= @windspeedkmph %>km/h
        <%= @winddir16point %>
      </div>
    <% else %>
    <div class="info-meteo">
      <h5>Météo non disponible à cette date</h5>
    </div>
    <% end %>
  </div>
</div>
