<div class="container even-run-form">
  <%= link_to "Détails de ma run", new_run_detail_path, class: "btn btn-fullwide" %>
  <%= simple_form_for @event, data: { controller: 'flatpickr' } do |f| %>
    <%= f.hidden_field :event_type, value: "running" %>
    <%= f.hidden_field :run_detail_id, value: RunDetail.last.id %>
    <%= f.input :name, label: "Nom de ton event" %>
    <%= f.input :date, label: "Date de l'event", as: :string, input_html: { data: { flatpickr_target: "Date" }} %>
    <%= f.input :description, label: "Dis-nous tout sur ton event" %>
    <%= f.input :max_people, label: "Nbre max de participants" %>
    <div class="row">
      <div class="col">
        <%= f.input :car_pooling %>
      </div>
      <div class="col">
        <%= f.input :passengers %>
      </div>
    </div>
    <%= f.input :difficulty, collection: Event::DIFFICULTIES %>
    <%= f.input :meeting_point, label: "Point de RDV", placeholder: "adresse,XXXX Ville" %>
</div>
    <%= f.submit "Publie l'event", class: "btn btn-fullwide" %>
  <% end %>
