<div class="container event-surf-form">
  <%= simple_form_for @event, method: :post, data: { controller: "flatpickr preview-input"} do |f| %>
    <%= f.hidden_field :event_type, value: "surf" %>
    <%= f.input :name, label: "Nom de l'événement" %>
    <%= f.input :date, label: "Date", as: :string, input_html: { data: { flatpickr_target: "Date" }} %>
    <%= f.input :description, label: "Dis-nous tout sur l'événement" %>
    <%= f.input :max_people, label: "Maximum de participants" %>
    <div class="row align-items-center">
      <div class="col-5">
        <%= f.input :car_pooling, label: "Je covoiture" %>
      </div>
      <div class="col-7">
        <%= f.input :passengers, label: "Nombre de places" %>
      </div>
    </div>
    <%= f.association :spot, collection: Spot.order(:location), label_method: :location, prompt: "Choisis ton spot" %>
    <%= f.input :difficulty, label: "Difficulté", collection: Event::DIFFICULTIES %>
    <%= f.input :meeting_point, label: "Point de RDV", hint: "19 Place de la Gare, 35005 Rennes" %>

    <div class="mt-3">
        <p>Ajoutez des photos</p>
    </div>
    <div class="d-flex">
      <div>
        <%= image_tag("icone-photo.jpg", :width=>90, :height=>90, class:"event_photo m-2", data:{"preview-input-target": :image, action: "click->preview-input#openFile"})%>
      </div>
      <%= f.input :photos, as: :file,
                  required: false,
                  autofocus: true,
                  input_html: {multiple: true, data: {"preview-input-target": :input, action: "change->preview-input#changeImage"},class:"d-none"},
                  label: false %>

  </div>
    <%= f.submit "Allons surfer", class: "btn btn-fullwide" %>
  <% end %>
</div>
