<div class="popup">
  <div class="popup-event-img">
    <% if event.photos.first %>
      <%= cl_image_tag event.photos.first.key, crop: :fill %>
    <% else %>
      <%= cl_image_tag event.spot.photos.first.key, crop: :fill %>
    <% end %>
  </div>
  <div class="pop-up-infos">
    <h3 class="mt-2 text-center"><%= event.name %></h3>
    <div class="d-flex justify-content-between">
      <p class="event-infos"><%= raw("<i class='fa-solid fa-location-pin'></i>")%> <%=event.meeting_point.split.last.capitalize %></p>
      <p class="event-infos"><%= raw("<i class='fa-solid fa-calendar-check'></i>")%> <%=event.date.strftime("%d/%m/%y") %></p>
      <p class="event-infos"><%= raw("<i class='fa-solid fa-calendar-check'></i>")%> <%=event.date.strftime("%kh%M") %></p>
    </div>
  <div class="d-flex justify-content-center my-1">
    <%= link_to "Voir plus d'infos", event_path(event), class: "btn btn-more-infos"%>
  </div>
</div>

