<div class="card-show">
  <%= cl_image_tag @event.photos.first.key unless @event.photos.empty? %>
  <%= image_tag('sportnerhome.svg') if @event.photos.empty? %>
  <div class="card-show-infos">
    <div class="card-show-elements">
      <p>
      <i class="fa-solid fa-clock"></i></i> <%= @event.date.strftime('%Hh%M') %>
      </p>
      <p>
      <i class="fa-solid fa-calendar-check"></i></i> <%= @event.date.strftime('%d/%m/%y') %>
      </p>
    </div>
    <div id="show-event-title">
      <h2 class="mt-2"><%= @event.name %></h2>
    </div>
    <div class="card-show-elements mt-1">
      <p>
      <i class="fa-solid fa-users"></i> <%= @event.participations.count %><% if @event.max_people %>/<%= @event.max_people %><% end %>
      </p>
    </div>

    <div class="card-show-elements mt-1">
      <p>
      <% if current_user %>
        <i class="fa-solid fa-location-pin"></i> <%= @event.meeting_point %>
      <% else %>
        Connectez-vous pour voir l'adresse
      <% end %>
      </p>
    </div>
    <div class="card-show-user">
    <p>Par <b><%= @event.organizer.first_name %></b> </p>
    <%= cl_image_tag @event.organizer.avatar.key, class: "avatar-bordered" %>
    </div>
  </div>
</div>
<div class="card-desc">
  <h2 id="show-event-title">Description</h2>
  <p><%= @event.description %></p>
</div>
