<p>Add map here</p>
<div class="container">
  <p>Add filters sports and date here</p>
  <h2 class="h2-black900">Evénements</h2>
  <%# Add cards %>
  <% @events.each do |event| %>
    <div class="card-event">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-event-infos">
          <div class="card-event-title">
            <h3><%= event.name %></h3>
            <p class="tag"><%= event.difficulty.upcase %></p>
          </div>
          <div class="card-event-middle">
            <% if event.event_type == "running" %>
              <p><%= raw("<i class='fa-solid fa-person-running'></i>") %> <%= event.run_detail.pace %>/km</p>
              <p><%= raw("<i class='fa-solid fa-arrows-left-right'></i>") %> <%= event.run_detail.distance %>km</p>
            <% end %>
            <% if event.event_type == "surf" && event.car_pooling == true %>
              <p><%= raw("<i class='fa-solid fa-car'></i>") %> Covoiturage</p>
            <% else %><p class="text-white">Texte caché</p>
            <% end %>
          </div>
          <div class="card-event-end">
            <p class="small"><%= raw("<i class='fa-solid fa-location-pin'></i>") %> <%= event.meeting_point %></p>
            <p class="small"><%= raw("<i class='fa-solid fa-clock'></i>") %> <%= event.date.strftime("%kh%M") %></p>
          </div>
        </div>
    </div>
  <% end %>

</div>
