<!DOCTYPE html>
<html>
  <head>
    <title>Sportner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
  </head>

  <body>
    <div class="app-grid">
      <div>
        <%= render "shared/navbar" unless current_page?(root_path) %>
        <%= render "shared/flashes" %>
      </div>
      <div style="overflow-y:scroll">
        <%= yield %>
      </div>
      <%= render "shared/bottom_navbar" unless current_page?(root_path)%>
    </div>
  </body>
</html>
